{% extends 'base_cliente.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block miga_pan %}
    <li><a href="{% url 'accounts:home'%}"><i class="fa fa-dashboard"></i> DASHBOARD</a></li>
{% endblock miga_pan %}

{% block css %}
    <style>

        img {
            border-radius: 8px;

        }
    </style>
{% endblock css %}

{% block titulo %}Ver películas{% endblock titulo %}

{% block contenido %}
    {% if peliculas %}
        {% for peli in peliculas %}
            <div class="col-md-4">
                <div class="box box-primary">
                    <div class="box-body">
                            <div class="col-md-6">
                                <img src="{{ peli.imagen.url | default_if_none:'#' }}" width="170" height="251"/>
                            </div>
                            <div class="col-md-5 col-md-offset-1">
                                <h5> <a href="{% url 'peliculas:ver_pelicula' peli.slug %}" ><b> {{ peli.nombre }}</b></a></h5>
                                <p><b>Género: </b>{% for gen in peli.genero.all %} {{ gen }}, {% endfor %} </p>
                                <p><b>Calificación: </b>{{ peli.calificacion }}</p>
                            </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    {% else %}

        <section class="content">
            <div class="error-page">
                <h2 class="headline text-yellow"> Oops!</h2>

                <div class="error-content">
                    <h4><i class="fa fa-warning text-yellow"></i> <b>No se encontraron resultados para '{{ nombre_pelicula }}'.</b></h4>

                    <p>
                        No pudimos encontrar la película que buscabas.
                        Mientras tanto, puedes <a href="{% url 'accounts:home' %}">ir al inicio</a> o intenta otra búsqueda.
                    </p>

                    <!-- Formulario para la busqueda -->
                    <form action="{% url 'peliculas:busqueda_peliculas' %}" method="get" class="navbar-form navbar-left">
                        <div class="input-group">
                            <div class="form-group is-empty">
                                <input type="text" name="q" class="form-control"
                                       placeholder="Buscar..."></div>
                            <span class="input-group-btn" style="padding:2px !important;">
                            <button type="submit" class="btn btn-flat text-gray"><i class="fa fa-search"></i>
                            </button>
                        </span>
                        </div>
                    </form>
                </div>
                <!-- /.error-content -->
            </div>
            <!-- /.error-page -->
        </section>

    {% endif %}

{% endblock contenido %}

