{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block miga_pan %}

    <li><a href="{% url 'accounts:home'%}"><i class="fa fa-dashboard"></i> DASHBOARD</a></li>
    <li><a href="{% url 'peliculas:crear'%}"><i class="fa fa-building-o"></i> GESTIONAR PELÍCULAS</a></li>
    <li class="active">EDITAR PELÍCULA</li>
{% endblock miga_pan %}

{% block titulo %}Editar sucursal{% endblock titulo %}

{% block css %}
    {{ form.media.css }}
    <style media="screen">
        .select2-container {
            width: 100% !important;
        }
    </style>
{% endblock css %}


{% block contenido %}

    <div class="col-md-6 col-md-offset-3">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Editar sucursal</h3>
            </div>
            <div class="box-body">
                <form method="POST" enctype="multipart/form-data"> {% csrf_token %}
                    {% bootstrap_form form %}
                    <div class="g-recaptcha" data-sitekey="6LetuIkUAAAAAImaRg4v8bqLpKw-o1cCdLVNZoYs"></div>
                    <button type="submit" class="btn btn-success">Modificar</button>
                </form>
            </div>
        </div>
    </div>

{% endblock contenido %}

{% block js %}

<script src="{% static 'dist/js/validacion_registro.js' %}"></script>
<script src="{% static 'plugins/toastr/toastr.min.js' %}"></script>
    {{ form.media.js }}

{% endblock js %}
