<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MENÚ</li>
            <!-- Optionally, you can add icons to the links -->
            <li><a href="{% url 'salas:crear' %}"><i class="fa fa-building"></i> <span>Gestionar Salas</span></a></li>
            <li><a href="{% url 'funciones:crear' %}"><i class="fa fa-video-camera"></i> <span>Gestionar Funciones</span></a></li>
            <li><a href="{% url 'boletas:ver_boletas' %}"><i class="fa fa-ticket"></i> <span>Gestionar Boletas</span></a></li>
	        <li><a href="{% url 'accounts:reportes' %}"><i class="fa fa-bar-chart"></i> <span>Reportes</span></a></li>
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>
