<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MENÚ</li>
            <!-- Optionally, you can add icons to the links -->
            <li class="active"><a href="#"><i class="fa fa-video-camera"></i> <span>Ver funciones</span></a></li>
            <li><a href="#"><i class="fa fa-ticket"></i> <span>Gestionar boletas</span></a></li>
            <li class="active"><a href="{% url 'accounts:registro_cliente' %}" target="_blank"><i class="fa fa-user-plus"></i> <span>Crear clientes</span></a></li>
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>
