{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load list_index %}
{% block miga_pan %}
{% load mathfilters %}


    <li><a href="{% url 'accounts:home'%}"><i class="fa fa-dashboard"></i> DASHBOARD</a></li>
    <li><a href="{% url 'peliculas:crear'%}"><i class="fa fa-building-o"></i> GESTIONAR SALAS</a></li>
    <li class="active">EDITAR SALA</li>
{% endblock miga_pan %}

{% block titulo %}Editar sala{% endblock titulo %}

{% block css %}
    {{ form.media.css }}
    <style media="screen">
        .select2-container {
            width: 100% !important;
        }
.rectangulo {
  background-color: black;
  width: 250px;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;

}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-container > div {
  background-color: white;
  color: white;
  width: 15px;
  margin: 0px;
  text-align: center;
  line-height: 15px;
}


input[type='checkbox'] {
content: '';
display: inline-block;
-webkit-appearance: none;
-moz-appearance: none;
margin:0;
width: 13px;
height: 13px;

}
input[type='checkbox']:checked {
text-align: center;
}
input[type=checkbox]:hover {
  filter: brightness(10%);

}

.SIN_MARCAR{
  background: rgb(223, 214, 223);
}

.PREFERENCIAL {
  background: rgb(159,218,64);
}

.GENERAL {
  background: rgb(255,0,0);
}

.DISCAPACITADO {
  background: rgb(9,0,245);
}


    </style>
{% endblock css %}


{% block contenido %}

    <div class="col-md-6 col-md-offset-3">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Editar sala</h3>
            </div>
            <div class="box-body">
                <form method="POST" enctype="multipart/form-data"> {% csrf_token %}
                    {% bootstrap_form form %}

                    <div class="rectangulo">
                       <center>
                        <font color="white" size="5">Pantalla</font></center> 
                    </div>
                       <div>
                          <input type="radio" id="p" name="drone" value="Preferencial">
                          <label for="p">Preferencial</label>
                        </div>

                        <div>
                          <input type="radio" id="g" name="drone" value="General">
                          <label for="g">General</label>
                        </div>

                        <div>
                          <input type="radio" id="d" name="drone" value="Discapacitados" >
                          <label for="d">Discapacitado</label>
                        </div>
                     {% for i in itemlist %}
                        
                                <div class="flex-container">

                                   {% for j in itemlist %}
                                    <div >
                                    {% with i|mul:30|add:j|add:1 as pos %}  
                                      {% with lista_sillas|list_index:pos as silla %}    
                                          {% if silla %}
                                            <input class="{{silla.tipo}}" onclick="myFunction(this)" type="checkbox" name="silla" checked value='{"i":{{i}},"j":{{j}},"color": "{{silla.tipo}}"}'>
                                          {% else %}
                                            <input class="SIN_MARCAR" onclick="myFunction(this)" type="checkbox" name="silla"  value='{"i":{{i}},"j":{{j}},"color": "SIN_MARCAR"}'>
                                          {% endif %}
                                      {% endwith %}
                                    {% endwith %}

                                    </div>

                                    {% endfor %}

                                </div>
                                                        
                        {% endfor %}
                    <button type="submit" class="btn btn-success">Modificar</button>
                </form>
            </div>
        </div>
    </div>

{% endblock contenido %}

{% block js %}
    {{ form.media.js }}
    <script>
        function myFunction(elemento_clickeado) {
            var preferencial = document.getElementById("p");
            var general = document.getElementById("g");
            var Discapacitado = document.getElementById("d");
            obj = JSON.parse(elemento_clickeado.value);

            if (preferencial.checked == true){
              elemento_clickeado.className = "PREFERENCIAL";
              obj["color"]="PREFERENCIAL";
              elemento_clickeado.value=JSON.stringify(obj);

            } else if(general.checked == true) {
              elemento_clickeado.className = "GENERAL";
              obj["color"]="GENERAL";
              elemento_clickeado.value=JSON.stringify(obj);


            } else {
              elemento_clickeado.className = "DISCAPACITADO";
              obj["color"]="DISCAPACITADO";
              elemento_clickeado.value=JSON.stringify(obj);


            }
        }
    </script>

{% endblock js %}
