{% extends 'base_cliente.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block miga_pan %}
	<li><a href="{% url 'accounts:home' %}"><i class="fa fa-dashboard"></i> DASHBOARD</a></li>
	<li class="active">CONSULTAR SALDO</li>
{% endblock miga_pan %}
{% block titulo %}Consultar Saldo{% endblock titulo %}

{% block css %}
	<style media="screen">
		@media print {
			.content {
				-webkit-print-color-adjust: exact;
			}
		}
	</style>

	<style>
		@media only screen and (max-width: 600px) {

			table.tabla_boletas th:nth-child(2), th:nth-child(4) {
				display: none;
			}

			table.tabla_boletas td:nth-child(2), td:nth-child(4) {
				display: none;
			}

			.nombre_pelicula {
				width: 45px;
				display: block;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}

			.fecha {
				font-size: 10px;
			}
		}
	</style>
{% endblock css %}

{% block contenido %}

	<section class="invoice">
		<!-- title row -->
		<div class="row">
			<div class="col-xs-12">
				<h2 class="page-header">
					<i class="fa fa-money"></i> {{ user.get_full_name }}
					<small class="pull-right fecha">Fecha: {% now "j F Y" %}</small>
				</h2>
				<h4>Boletas | <span class="badge bg-yellow">Reservadas</span>
					<span class="badge bg-red">Compradas</span></h4>
			</div>
		</div>

		<!-- Tablita por cada fecha que haya comprado o reservado boleta -->
		<div class="row">
			<div class="col-md-12">
				{% regroup boletas by fecha_compra|date:"l j F | f A" as fechas %}
				{% for fecha in fechas %}
					<p class="lead">{{ fecha.grouper }}</p>
					<table class="table table-striped table-bordered table-condensed table-responsive tabla_boletas">
						<thead>
						<tr>
							<th>Pelicula</th>
							<th>Fecha de Función</th>
							<th>Silla</th>
							<th>Medio Pago</th>
							<th>Total</th>
							<th>Acciones</th>
						</tr>
						</thead>
						<tbody>
						{% for boleta in fecha.list %}
							<tr>
								<td>
									<a class="nombre_pelicula"
									   href="{% url 'peliculas:ver_pelicula' boleta.funcion.pelicula.slug %}">{{ boleta.funcion.pelicula.nombre }}</a>
								</td>
								<td>{{ boleta.funcion.fecha_funcion|date:"l j F " }}
									- {{ boleta.funcion.hora_funcion|time:"f A" }}</td>
								<td>{{ boleta.silla.nombre }}</td>
								<td>{{ boleta.medio_pago }}</td>
								{% if boleta.reserva %}
									<td><span class="badge bg-yellow">${{ boleta.total }}</span></td>
								{% else %}
									<td><span class="badge bg-red">${{ boleta.total }}</span></td>
								{% endif %}
								{% if boleta.reserva %}
									<td>Falta completar pago</td>
								{% else %}
									<td><a href="{% url 'boletas:generar_boleta' boleta.id %}" target="_blank">Generar
										Boleta</a></td>
								{% endif %}

							</tr>
						{% endfor %}
						</tbody>
					</table>
				{% endfor %}
			</div>
		</div>

		<div class="row">
			<hr>
			<div class="col-xs-12">
				<p class="lead">Saldo Actual: <b>${{ saldo }}</b></p>
			</div>
		</div>

		<div class="row no-print">
			<div class="col-xs-12">
				<a href="{% url 'accounts:guardar_saldo' %}" target="_blank" class="btn btn-warning"><i
						class="fa fa-print"></i>
					Generar PDF</a>
			</div>
		</div>
	</section>

{% endblock contenido %}
