{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block titulo %} Dashboard {% endblock titulo %}

{% block miga_pan %}{% endblock miga_pan %}
{% block contenido %}
<div class="row">
    <div class="col-lg-3 col-xs-6">
    <div class="small-box bg-olive">
      <div class="inner">
        <h3>{{datos.num_peliculas_estreno}}</h3>

        <p>Películas en estreno</p>
      </div>
      <div class="icon">
        <i class="fa fa-video-camera"></i>
      </div>
      <a href="{% url 'peliculas:crear' %}" class="small-box-footer">Más información <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>

  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-maroon-gradient">
      <div class="inner">
        <h3>{{datos.num_salas}}</h3>

        <p>Salas registradas</p>
      </div>
      <div class="icon">
        <i class="fa fa-sitemap"></i>
      </div>
      <a href="{% url 'sucursales:crear' %}" class="small-box-footer">Más información <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>

</div>

{% endblock contenido %}