{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block miga_pan %}{% endblock miga_pan %}
{% block titulo %}Dashboard{% endblock titulo %}
{% block css %}
<style>
	.MultiCarousel-inner{
	height: 320px;
	}
	.MultiCarousel{
	width: 97% !important;
	}
	.modal-dialog {
	position: relative;
	width: 30% !important;
	margin-left: 35%;
	}
	.content-header{
	padding: 0px;
	}
	.content-header>h1{
	display: none;
	}
	img {
	border-radius: 8px;
	max-width: 100%;
	height: auto;
	}
</style>
<link rel="stylesheet" href="{% static 'dist/css/carousel.css' %}">
{% endblock css %}
{% block contenido %}
<div class="box">
	<div class="box-header with-border">
		<h3 class="box-title">Películas en Cartelera</h3>
	</div>
	<div style="height: 400px;" class="box-body">
		<div class="container">
			<div class="row">
				<div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel"  data-interval="1000">
					<div class="MultiCarousel-inner">
						{% for peli in peliculas %}
						<div class="item">
							<div class="pad15">
								<p style="margin-bottom: 10px" class="lead">
									<a href="{% url 'peliculas:ver_pelicula' peli.slug %}" ><img src="{{ peli.imagen.url | default_if_none:'#' }}"/></a>
								</p>
								<div>
									<p style="margin: 0px"><b> <small> <a style="color: gray;" href="{% url 'peliculas:ver_pelicula' peli.slug %}" >{{ peli.nombre }}</a></small></b></p>
									<p><small>{% for gen in peli.genero.all %} {{ gen }}, {% endfor %}</small> </p>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
					{% if peliculas.count > 6 %}
					<button class="btn btn-primary leftLst"><</button>
					<button class="btn btn-primary rightLst">></button>
					{%  endif %}
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-3 col-xs-6">
		<div class="small-box bg-purple-active">
			<div class="inner">
				<h3>0</h3>
				<p>Boletas</p>
			</div>
			<div class="icon">
				<i class="fa fa-ticket"></i>
			</div>
			<a href="#" class="small-box-footer">Vender boletas <i class="fa fa-arrow-circle-right"></i></a>
		</div>
	</div>
	<div class="col-lg-3 col-xs-6">
		<div class="small-box bg-yellow-active">
			<div class="inner">
				<h3>{{datos.num_proximos_estrenos}}</h3>
				<p>Próximos Estrenos</p>
			</div>
			<div class="icon">
				<i class="fa fa-video-camera"></i>
			</div>
			<a href="{% url 'peliculas:consultar_proximos_estrenos' %}" class="small-box-footer" target="_blank">Ver películas <i class="fa fa-arrow-circle-right"></i></a>
		</div>
	</div>
	<div class="col-lg-3 col-xs-6">
		<div class="small-box bg-light-blue-active">
			<div class="inner">
				<h3>$</h3>
				<p>Saldo</p>
			</div>
			<div class="icon">
				<i class="fa fa-money"></i>
			</div>
			<a href="#" class="small-box-footer open-modal-saldo" data-toggle="modal" data-target="#modal-saldo">Añadir saldo <i class="fa fa-arrow-circle-right"></i></a>
		</div>
	</div>
	<div class="col-lg-3 col-xs-6">
		<div class="small-box bg-teal-active">
			<div class="inner">
				<h3><i class="fa fa-user"></i></h3>
				<p>Cliente</p>
			</div>
			<div class="icon">
				<i class="fa fa-user-plus"></i>
			</div>
			<a href="{% url 'accounts:registro_cliente' %}" class="small-box-footer" target="_blank">Crear cuenta <i class="fa fa-arrow-circle-right"></i></a>
		</div>
	</div>
</div>
<!--modal-saldo-->
<div class="modal fade" id="modal-saldo" role="dialog">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Cargar saldo</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-sm-6">
						{% bootstrap_field form_saldo.cliente %}
					</div>
					<div class="col-sm-6">
						{% bootstrap_field form_saldo.nombre_cliente %}
					</div>
				</div>
				{% bootstrap_field form_saldo.saldo_actual %}
				<button type="button" class="btn btn-info consultar-saldo col-md-offset-6">Consultar saldo</button>
				{% bootstrap_field form_saldo.saldo %}
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default pull-left"  id="cerrar-modal" data-dismiss="modal">Cerrar</button>
				<button type="button" class="btn btn-success cargar-saldo">Cargar saldo</button>
			</div>
		</div>
	</div>
</div>
<!-- modal-saldo -->
<!--modal-confirmacion-->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="mi-modal">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Confirmar</h4>
			</div>
			<div class="modal-body">
				Desea realizar la recarga de saldo?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-warning" id="modal-btn-no">No</button>
				<button type="button" class="btn btn-success" id="modal-btn-si">Si</button>
			</div>
		</div>
	</div>
</div>
<!--modal-confirmacion-->
{% endblock contenido %}
{% block js %}
<script src="{% static 'dist/js/carousel.js' %}"></script>

<script type="application/javascript">

    //Borra la informacion del modal de consulta cuando se cierra

    $("#cerrar-modal").on("click", function () {

        document.getElementById('id_cliente').value = "";
        document.getElementById('id_saldo_actual').value = 0;
        document.getElementById('id_nombre_cliente').value = "";
        document.getElementById('id_saldo').value = 0;

    });

    //Confirmacion de carga de saldo
    //https://anexsoft.com/javascript-que-son-como-usar-y-ejemplos-del-uso-de-callbacks

	var modalConfirm = function(callback){

	  $(".cargar-saldo").on("click", function(){
	      var saldo = document.getElementById('id_saldo').value;

	      if (saldo > 0){
	          $("#mi-modal").modal('show');
          }else{
	          toastr["warning"]("Ingrese una cantidad válida para cargar saldo!");
          }

	  });

	  $("#modal-btn-si").on("click", function(){
	    callback(true);
	    $("#mi-modal").modal('hide');
	  });

	  $("#modal-btn-no").on("click", function(){
	    callback(false);
	    $("#mi-modal").modal('hide');
	  });
	};

	modalConfirm(function(confirm){

	  if(confirm){
	      var cedula = document.getElementById('id_cliente').value;
	      var saldo = document.getElementById('id_saldo').value;

	     $.get('{% url 'accounts:cargar_saldo' %}', {"csrfmiddlewaretoken":'{{ csrf_token }}','saldo': saldo, 'cedula': cedula}, function(data){

	         var saldo_actual = document.getElementById('id_saldo_actual');
	         document.getElementById('id_saldo').value = 0;
	         saldo_actual.value = data.saldo;
	         toastr["success"]("Saldo cargado exitosamente!");

	     });


	  }else{
	    //Acciones si el usuario no confirma
          document.getElementById('id_saldo').value = 0;
	  }
	});


	   $('.consultar-saldo').click(function(){

	     var cedula = document.getElementById('id_cliente').value;
	     var saldo_actual = document.getElementById('id_saldo_actual');
	     var nombre_cliente = document.getElementById('id_nombre_cliente');

	     $.get('{% url 'accounts:consultar_cliente' %}', {"csrfmiddlewaretoken":'{{ csrf_token }}','cedula': cedula}, function(data){

	         nombre_cliente.value = data.nombre;
	         saldo_actual.value = data.saldo_cliente;

	     });
	   });

</script>
{% endblock js %}