{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block titulo %} Dashboard {% endblock titulo %}

{% block miga_pan %}{% endblock miga_pan %}
{% block contenido %}
<div class="row">
    <div class="col-lg-3 col-xs-6">
    <div class="small-box bg-blue-active">
      <div class="inner">
        <h3>{{datos.num_peliculas_cartelera}}</h3>

        <p>Películas en cartelera</p>
      </div>
      <div class="icon">
        <i class="fa fa-video-camera"></i>
      </div>
      <a href="{% url 'peliculas:consultar_peliculas' %}" class="small-box-footer">Ver Cartelera <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>

        <div class="col-lg-3 col-xs-6">
    <div class="small-box bg-yellow-active">
      <div class="inner">
        <h3>{{datos.num_proximos_estrenos}}</h3>

        <p>Próximos estrenos</p>
      </div>
      <div class="icon">
        <i class="fa fa-video-camera"></i>
      </div>
      <a href="{% url 'peliculas:consultar_proximos_estrenos' %}" class="small-box-footer">Ver peliculas <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>

    <div class="col-lg-3 col-xs-6">
    <div class="small-box bg-purple-active">
      <div class="inner">
        <h3>0</h3>

        <p>Funciones</p>
      </div>
      <div class="icon">
        <i class="fa fa-file-movie-o"></i>
      </div>
      <a href="#" class="small-box-footer">Ver funciones <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>

  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-maroon-gradient">
      <div class="inner">
        <h3>{{datos.num_salas}}</h3>

        <p>Salas registradas</p>
      </div>
      <div class="icon">
        <i class="fa fa-sitemap"></i>
      </div>
      <a href="#" class="small-box-footer">Más información <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>

</div>

{% endblock contenido %}