{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block miga_pan %}
	<li><a href="{% url 'accounts:home' %}"><i class="fa fa-dashboard"></i> DASHBOARD</a></li>
	<li><a href="{% url 'anuncios:gestion_anuncios' %}"><i class="fa fa-bullhorn"></i> GESTIONAR ANUNCIOS</a></li>
	<li class="active">EDITAR ANUNCIO</li>
{% endblock miga_pan %}

{% block titulo %}Editar anuncio{% endblock titulo %}
{% block titulo_panel %}Gestión de anuncios{% endblock titulo_panel %}

{% block css %}
	{{ form.media.css }}
	<style media="screen">
		.select2-container {
			width: 100% !important;
		}
	</style>
	<link rel="stylesheet" href="{% static 'bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
	<link href="{% static 'bower_components/datatables.net-bs/responsive/responsive.dataTables.min.css' %}"
	      rel="stylesheet">
	<link rel="stylesheet"
	      href="{% static 'bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}">
	<link rel="stylesheet" href="{% static 'plugins/timepicker/bootstrap-timepicker.min.css' %}">
{% endblock css %}

{% block contenido %}
	<div class="col-md-12">
		<div class="box box-primary">
			<div class="box-header">
				<h3 class="box-title">Editar Anuncio</h3>
			</div>
			<div class="box-body">
				<form method="POST" enctype="multipart/form-data"> {% csrf_token %}
					<div class="row">
						<div class="col-md-3">
							{% bootstrap_field form.nombre %}
						</div>
						<div class="col-md-3">
							{% bootstrap_field form.ubicacion_anuncio %}
						</div>
						<div class="col-md-3">
							{% bootstrap_field form.fecha_inicio %}
						</div>
						<div class="col-md-3">
							{% bootstrap_field form.fecha_final %}
						</div>
					</div>

					<div class="row">
						<div class="col-md-4">
							{% bootstrap_field form.imagen %}
							<img id="imgSalida" width="50%" height="50%" src="">
						</div>
						<div class="col-md-8">
							{% bootstrap_field form.descripcion %}
						</div>
					</div>

					<button type="submit" class="btn btn-success btn-raised">Guardar Anuncio</button>
				</form>
			</div>
		</div>
	</div>
{% endblock contenido %}

{% block js %}

	<script src="{% static 'bower_components/moment/min/moment.min.js' %}"></script>
	<script src="{% static 'bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
	<script src="{% static 'plugins/timepicker/bootstrap-timepicker.min.js' %}"></script>
	<script src="{% static 'bower_components/bootstrap-datepicker/dist/locales/bootstrap-datepicker.es.min.js' %}"></script>
	{{ form.media.js }}
	<script>

        $(function () {
            $('#id_fecha_inicio').datepicker({
                autoclose: true,
                format: 'dd/mm/yyyy',
                language: 'es',
                orientation: 'bottom',
                startDate: '+0d'
            });
        });

        $(function () {
            $('#id_fecha_final').datepicker({
                autoclose: true,
                format: 'dd/mm/yyyy',
                language: 'es',
                orientation: 'bottom',
                startDate: '+1d'
            });
        });

        $(function () {
            $('#id_fecha_inicio').datepicker({
                onSelect: function (dateText, inst) {
                    $('#id_fecha_final').datepicker('option', 'minDate', new Date(dateText));
                }
            })
        });

        $(function () {
            $('#id_fecha_final').datepicker({
                onSelect: function (dateText, inst) {
                    $('#id_fecha_inicio').datepicker('option', 'maxDate', new Date(dateText));
                }
            })
        });

        $('#imgSalida').attr("hidden", true);
        $(function () {
            $('#id_imagen').change(function (e) {
                $('#imgSalida').attr("hidden", false);
                addImage(e);
            });

            function addImage(e) {
                var file = e.target.files[0],
                    imageType = /image.*/;

                if (!file.type.match(imageType))
                    return;

                var reader = new FileReader();
                reader.onload = fileOnload;
                reader.readAsDataURL(file);
            }

            function fileOnload(e) {
                var result = e.target.result;
                $('#imgSalida').attr("src", result);
            }
        });
	</script>
{% endblock js %}